<div class="jumbotron">
    <h1>FizzBuzz Fun</h1>
    <p class="lead">Simple FizzBuzz MVC api</p>
</div>
<div class="row">
    <div>
        <h2>Playing</h2>
        <p>You can make a request with a range of numbers (start and end) directly in the address bar and view the output in JSON format.</p>
        <p>Example of usage: append <strong>/api/FizzBuzz/GetFizzBuzz/?start=2&end=25</strong> to your localhost link.</p>
        <p>The main controller is unit tested at FizzBuzzControllerTest.cs</p>
    </div>
</div>
